button {
	height: 100px;
	width: 100px;
	margin: 5px;
	border-width: 5px
}

#x0 {border-color: white black black white;}
#x1 {border-color: white black black;}
#x2 {border-color: white white black black;}
#x3 {border-color: black black black white;}
#x4 {border-color: black;}
#x5 {border-color: black white black black;}
#x6 {border-color: black black white white;}
#x7 {border-color: black black white black;}
#x8 {border-color: black white white black;}